# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.venv/
env/
venv/
ENV/
creditrust_env/

# Data
data/raw/*
data/processed/*.csv

# Vector Store
vector_store/

# IDEs and OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Jupyter Notebook checkpoints
.ipynb_checkpoints/